<template name="messages">

  <!-- {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}} -->

  {{#contentFor "headerTitle"}}
    <img class="img" src="/images/logo1.png"/>
    <span class="headertitle"># {{username}}</span>
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}


  {{#contentFor "list" }}
  <div class="direct-messages">
    <h4 class="direct-message-header">DIRECT MESSAGES</h4>
  </div>
  <ul class="user-list">
      {{#each user in users}}
        {{#with user}}
        {{#if notCurrentUser user}}
          <li class="user cursor-pointer">
            <span># {{user.username}}</span>
            {{#if unreadMessageCount user}}
              <span class="badge">{{unreadMessageCount user}}</span>
            {{/if}}
          </li>
        {{/if}}
        {{/with }}
      {{/each}}
  </ul>
  {{/contentFor}}


{{#ionView class='message-page'}}
  {{#ionContent}}
  <div>
    <ol class="chat">
      {{#each messages}}
        {{#if sender}}
          <li class="self">
            <div class="msg">
              <p>{{text}}</p>
              <time>{{date}}</time>
            </div>
          </li>
        {{else}}
          <li class="other">
            <div class="msg">
                <div class="user">{{fromUser}}</div>
              <p>{{text}}</p>
              <time>{{date}}</time>
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ol>
  </div>
  {{/ionContent}}
{{/ionView}}
<div class="">
  <input class="item-input-wrapper message-box" type="text" id="messageText" placeholder="Enter your message">
</div>

</template>
