<template name="logIn">
  {{#ionView}}
    {{#ionContent}}
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" name="username" placeholder="Username">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">password</span>
            <input type="password" name="password" placeholder="Password">
          </label>
        </div>
          <button id="login" class="button button-medium button-positive">LogIn</button>
    {{/ionContent}}
  {{/ionView}}
</template>
