<template name="logIn">
  {{#contentFor "headerTitle"}}
    <img class="img" src="/images/logo1.png"/>
    <span class="headertitle"># Chat</span>
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" name="username" placeholder="Username">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">password</span>
            <input type="password" name="password" placeholder="Password">
          </label>
        </div>
          <button id="login" class="button button-medium button-positive">LogIn</button>
    {{/ionContent}}
  {{/ionView}}
</template>
