<template name="appLayout">
  {{#ionBody}}


    {{#ionSideMenuContainer}}

      {{#ionSideMenus}}
<!--
          {{#ionSideMenu side="right"}}
          <div class="bar bar-header bar-dark">
            <h1 class="title">Contacts</h1>
          </div>
          <div class="content has-header">
            <div class="list" id="contact-list">
              {{> yield "list"}}
            </div>
          </div>
        {{/ionSideMenu}} -->


        {{#ionSideMenu side="right"}}
          <div class="bar bar-header bar-dark">
            <h1 class="title">Contacts</h1>
          </div>
          <div class="content has-header">
            <div class="list" id="contact-list" data-ion-menu-close>
              {{> yield "list"}}
            </div>
          </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        {{> header}}

        {{> ionNavBar class="bar-light"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

   {{/ionSideMenuContainer}}
  {{/ionBody}}

</template>
