<template name="appLayout">
  {{#ionBody}}
    <!-- {{> header}} -->

    {{#ionSideMenuContainer}}

      {{#ionSideMenus}}

        {{#ionSideMenu}}
          <div class="bar bar-header bar-dark">
            <h1 class="title">Contacts</h1>
          </div>
          <div class="content has-header">
            <div class="list" id="contact-list">
              {{> yield "list"}}
            </div>
          </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-positive"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

   {{/ionSideMenuContainer}}
  {{/ionBody}}

</template>
